/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Déclaration des variable pour les couleurs */
:root {
    --primary-color: #0065FC;
    --secondary-color: #DEEBFF;
    --third-color: #F2F2F2;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

/* Desktop first */


/*Propriété du container principal*/
.container_principal {
    max-width: 1400px;
    margin: auto;
    font-family: Raleway, sans-serif;

}

h2 {
    font-size: 22px;
    font-weight: 700;
}

h3 {
    font-weight: 700;
}

/* Mis en forme du header */
header {
    display: flex;
    justify-content: space-between;
}

header>img {
    width: 60px;
    margin-top: 44px;
    margin-bottom: 63px;
}

/* Barre de naviguation */
nav {
    min-width: 25%;
}

.navbar {
    display: flex;
}

.navbar__item {
    min-width: 50%;
    text-align: center;
    padding-top: 48px;
}

.navbar__link {
    text-decoration: none;
    color: black;
}

/* Gestion de la barre de selection de la navbar */
.navbar__link:hover {
    color: var(--primary-color);
}

.navbar .navbar__item:hover {
    border-top: 2px solid var(--primary-color);
    color: var(--primary-color);
}

/* section recherche */
h1 {
    font-size: 22px;
    font-weight: 700;
}

h1+h2 {
    margin-top: 10px;
}

.search_bar {
    display: flex;
    margin: 20px 0 30px;
    border-radius: 20px;
}

.icon {
    background-color: var(--third-color);
    border-radius: 20px 0 0 20px;
}

.search_icon {
    padding: 15px;
    color: black;
}

.search_input {
    display: flex;
}

.input_search {
    border: 1px solid var(--third-color);
    font-size: 18px;
    font-weight: 700;
}

.search_button {
    width: 135px;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--third-color);
    border: none;
    border-radius: 0 20px 20px 0;
}

.loupe_icon {
    visibility: collapse;
    position: absolute;
}

/* Section filtres */
.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
}

.filters>h3 {
    font-size: 18px;
    padding: 0 25px 0 15px;
}

.filter {
    display: flex;
    border: 2px solid rgba(217, 217, 217, 1);
    border-radius: 25px;
    font-size: 17px;
    margin-right: 25px;
}

.filter>h3 {
    padding: 10px;
}

.icon_filter {
    padding: 10px;
}

/* filtre etat hover */
.filter:hover {
    background-color: rgb(193, 235, 249);
}

/*Lien information avec icone en format SVG */
.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.info>p {
    padding-left: 5px;
}

/* Class qui change la couleur des étoile de notation en bleu*/
.icon_blue {
    color: var(--primary-color);
}

/* Container des deux sections hebergement et les plus populaire*/
.container {
    display: flex;
    justify-content: space-between;
}

/*section hebergement*/

#accommodation {
    width: 65%;
    height: 625px;
    min-width: 45%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

#accommodation a {
    width: 30%;
}

#accommodation h2 {
    padding: 42px 0px 50px 40px;
}

.accommodation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

/* partie cartes hébergement*/
.card {
    height: 200px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card__img {
    width: 95%;
    height: 120px;
    object-fit: fill;
    border-radius: 20px 20px 0 0;
    padding: 5px 0 5px 5px;
}

.card__txt {
    height: 40px;
    padding-left: 20px;
}

.card__txt>h3 {
    line-height: 19px;
}

.card__txt>p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.card_txt span {
    font-size: 14px;
    font-weight: 600;
}

/*Lien afficher plus*/
.link_info {
    position: absolute;
    left: 120px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 18px;
}

/* Propriété qui concerne les étoiles de notation*/
.card__stars {
    margin-top: 10px;
    padding-left: 20px;
}

.grey_star {
    color: lightgrey;
}

.stars_paddingTop {
    padding-top: 25px;
}

/* section les + populaire */
.popular {
    width: 30%;
    height: 625px;
    min-width: 20%;
    background-color: var(--third-color);
    border-radius: 20px;
}

.popular__title {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 0 20px;
    font-size: 22px;
    margin-bottom: 50px;
}

.popular__title>h2 {
    padding-left: 20px;
}



.container_popular-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container_popular-item>a {
    width: 90%;
}

/* partie cartes les plus populaires*/
.popular__item {
    background-color: white;
    height: 150px;
    display: flex;
    justify-content: stretch;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.img__item {
    width: 40%;
    height: 140px;
    object-fit: fill;
    border: 5px solid #FFFF;
    border-radius: 20px 0 0 20px;
}

.popular__item-txt {
    display: flex;
    flex-direction: column;
}

.popular__item-txt>h3 {
    padding: 15px 0 20px 0;
}

.popular__item-txt>p {
    font-size: 14px;
    padding-bottom: 40px;
}

.popular__item-txt span {
    font-weight: 600;
}

/*sectiion activities*/
#activities {
    margin: 60px 0 20px 0;
}

#activities h2 {
    margin-bottom: 18px;
}

.activities__cards {
    display: flex;
    justify-content: space-between;
}

.activities__cards a {
    width: 20%;
}

/*cartes des activités*/
.activities__card {
    height: 445px;
    border-radius: 20px;
    line-height: 0;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activities__card>img {
    width: 100%;
    height: 390px;
    border-radius: 20px 20px 0 0;
}

.activities__cardTitle {
    box-sizing: border-box;
    height: 55px;
    padding: 20px 0px 20px 20px;
    border: 1px solid #D9D9D9;
    border-radius: 0 0 20px 20px;
}

/*footer*/
footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--third-color);
    padding-bottom: 58px;
}

.footer__item {
    display: flex;
    flex-direction: column;
    padding: 45px 250px 0 0;
}

.footer__item-title {
    font-size: 18px;
    padding-bottom: 20px;
}

.footer__item-link {
    line-height: 18.78px;
}