/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Déclaration des variable pour les couleurs */
:root {
    --primary-color: #0065FC;
    --secondary-color: #DEEBFF;
    --third-color: #F2F2F2;
}

/* Desktop first */
/* Propriété pour le body */
body {
    max-width: 1400px;
    margin: auto;
    font-family: Raleway, sans-serif;


}

/*responsive tablette pour le body */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        width: 1024px;

    }

}

/*responsive smartphone pour le body */
@media screen and (max-width: 768px) {
    body {
        width: 375px;
    }

}

/* Mis en forme du header */
header {


    display: flex;
    justify-content: space-between;



}

.logo {
    width: 61px;
    height: 19px;
    margin-left: 55px;
    margin-top: 44px;
    margin-bottom: 63px;

}

/* Barre de naviguation */
nav {
    width: 361px;
    margin-right: 77px;


}

.navbar {
    display: flex;



}

.item_navbar {
    min-width: 50%;
    list-style-type: none;
    text-align: center;
    padding-top: 48px;

}

.link_navbar {
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

/* Gestion de la barre de selection de la navbar */
.link_navbar:hover {
    color: var(--primary-color);
}


.navbar .item_navbar:hover {

    border-top: 2px solid var(--primary-color);
    color: var(--primary-color);

}

/* header responsive pour tablette */
@media screen and (min-width: 768px) and (max-width: 992px) {


    .logo {
        margin-left: 72px;
        margin-bottom: 48px;


    }

    .navbar .item_navbar:hover {
        border-top: none;
    }

    .link_navbar:hover {
        text-decoration: underline;
    }

}




/* header responsive pour smartphone*/
@media screen and (max-width: 768px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .logo {
        width: 61px;
        margin-top: 21px;
        margin-left: 157px;

        margin-bottom: 0px;

    }

    .item_navbar {
        padding-bottom: 23px;
    }

    .navbar .item_navbar:hover {
        border-top: none;
        border-bottom: 3px solid var(--primary-color);
    }

}

/*sectiion activities*/
#activities {
    margin-bottom: 20px;
}

#activities h2 {
    margin-bottom: 18px;
}

.card_activities {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 300px;
    height: 445px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    line-height: 0;
    box-shadow: 5px 5px 5px 5px black;

}

.card_img {
    width: 300px;
    height: 390px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



.card_title {
    font-weight: 700;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;


}

/*responsive pour tablette de la partie activities*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    #activities {
        min-width: 875px;
        height: 330px;

    }

    .card {
        width: 180px;
        height: 265px;
    }

    .card_img {
        width: 180px;
        height: 210px;

    }

    .card_title {
        height: 55px;
    }
}

/* section activities responsive pour smartphone*/
@media screen and (max-width: 768px) {
    #activities {
        flex-direction: column;
    }

    .card_activities {
        flex-direction: column;
    }
}

/*footer*/
footer {

    display: flex;
    justify-content: space-evenly;
    background-color: var(--third-color);
    padding-bottom: 58px;
}

.item_footer {

    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 45px;

}

.item_title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 20px;

}

.item_link {
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-decoration: none;
    line-height: 18.78px;
}

/*footer responsive pour tablette*/
@media screen and (min-width: 768px) and (max-width: 992px) {}

/*footer responsive pour smartphone*/
@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;

    }

    .item_footer {
        width: 50%;
    }
}