/*responsive tablette pour le body */
@media screen and (min-width: 768px) and (max-width: 992px) {

    /* header responsive pour tablette */
    header>img {
        margin-bottom: 58px;
        margin-left: 72px;
        margin-top: 44px;
    }

    nav {
        min-width: 30%;
    }

    .navbar .navbar__item:hover {
        border-top: none;
    }

    .navbar__link:hover {
        text-decoration: underline;
    }

    /*partie filtre*/


    /*responsive tablette pour la partie hébergement*/
    .container {
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    #accommodation {
        width: 100%;
        max-width: none;

    }

    .link_info {
        position: static;
    }

    .popular {
        width: 100%;
        max-width: none;

    }

    .container_popular-item {
        flex-direction: row;

    }

    .itemPopulaire_container {
        flex-direction: row;
    }

    .item_populaire {
        width: 215px;
    }


    /*responsive pour tablette de la partie activities*/


    #activities h2 {
        padding-left: 50px;
    }

    .activities__cards {
        justify-content: space-around;
    }

    .card {
        width: 180px;
        height: 265px;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);

    }

    .card>img {
        width: 100%;
        height: 210px;

    }

    .card>h3 {
        width: 180px;
        height: 55px;
        line-height: 19px;
        padding: 10px 0px 0px 10px;


    }


    /*footer responsive pour tablette*/
    footer {
        width: auto;
        margin-right: 0%;

    }

    .footer__item {
        padding-right: 0%;
    }
}