/*Responsive smartphone*/
@media screen and (max-width: 768px) {
    .container_principal {
        padding-left: 0px;
        min-width: 365px;
    }

    /* header responsive pour smartphone*/
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        width: 100%;
    }

    header>img {
        width: 60px;
        margin-top: 21px;
        margin-left: 0;
        margin-bottom: 48px;
    }

    .navbar__item {
        padding-bottom: 23px;
        padding-top: 0px;
    }

    .navbar .navbar__item:hover {
        border-top: none;
        border-bottom: 2px solid var(--primary-color);
    }

    /*partie recherche*/
    .search_form {
        margin-top: 20px;
        padding-left: 10px;
    }

    .search_form>h1 {
        line-height: 26px;
    }

    #search {
        visibility: hidden;
    }

    .contener_icon {
        visibility: visible;
        background-color: blue;
        width: 50px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
    }

    .loupe_icon {
        color: white;
        position: relative;
        top: 15px;
        left: 15px;
    }

    /* responsive smartphone pour la partie filtres*/


    .filters {}



    .filter {
        margin-bottom: 5px;
    }

    /*les + populaire*/
    .container {
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;

    }

    .popular {
        width: 100%;
        max-width: none;
        border-radius: 0px;
    }

    .popular__title {
        width: auto;
        padding-left: 5px;
    }

    .popular__item {
        width: 95%;
        height: 145px;
    }

    /* partie hebergement */
    #accommodation {
        width: 100%;
        max-width: none;
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    #accommodation>h2 {
        text-align: left;
        padding-bottom: 0px;
    }

    .accommodation {
        height: 1250px;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
    }

    .Card {
        width: 95%;
        height: 200px;

    }

    .link_info {
        position: static;
        margin-top: 0px;


    }

    /* section activities responsive pour smartphone*/

    #activities {
        height: 900px;
        margin-top: 100px;
        margin-bottom: 80px;
    }

    .activities__cards {
        flex-direction: column;


    }

    .card {
        width: 95%;
        height: 190px;
        margin-bottom: 20px;
    }

    .card>img {
        width: 100%;
        height: 160px;
    }

    .card__title {
        height: 30px;
        background-color: white;
    }


    /*footer responsive pour smartphone*/
    footer {
        flex-direction: column;

    }

    .item_footer {
        width: 50%;
    }
}