/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Déclaration des variable pour les couleurs */
:root {
    --primary-color: #0065FC;
    --secondary-color: #DEEBFF;
    --third-color: #F2F2F2;
}

/* Desktop first */


/*Propriété du container principal*/
.container_principal {
    max-width: 1400px;
    margin: auto;
    font-family: Raleway, sans-serif;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: black;



}

/* Mis en forme du header */
header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 60px;
    margin-top: 44px;
    margin-bottom: 63px;
}

/* Barre de naviguation */
nav {
    width: 20%;
}

.navbar {
    display: flex;
}

.item_navbar {
    min-width: 50%;
    text-align: center;
    padding-top: 48px;

}


/* Gestion de la barre de selection de la navbar */
.link_navbar:hover {
    color: var(--primary-color);
}

.navbar .item_navbar:hover {
    border-top: 2px solid var(--primary-color);
    color: var(--primary-color);
}

/* section recherche */
h1 {
    font-size: 22px;
    font-weight: 700;
}

h1+h2 {

    margin-top: 10px;
}

.search_bar {
    width: 20%;
    display: flex;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 20px;

}


.icon {
    background-color: var(--third-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.search_icon {
    width: 14px;
    padding: 15px;
    color: black;
}

.search_input {
    display: flex;
}

.input_search {
    border: 1px solid var(--third-color);
}

#search {
    width: 135px;
    height: 49px;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--third-color);
    border: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}


/* Section filtres */
.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
}


.filters>h3 {
    font-size: 18px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 25px;
}



.filter {

    display: flex;
    align-items: center;
    border: 2px solid rgba(217, 217, 217, 1);
    border-radius: 25px;
    font-size: 17px;
    font-weight: 700;
    margin-right: 25px;

}


.filter>h3 {
    padding: 10px;
}

.icon_filter {
    padding: 10px;
}

.info {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.info>p {
    padding-left: 5px;

}

/* filtre etat hover */
.filter:hover {
    background-color: lightblue;
}

.last_filter {
    background-color: rgb(193, 235, 249);
}



/*section hebergement*/
.container {
    display: flex;
    justify-content: space-between;

}

#accommodation {
    width: 65%;
    height: 660px;
    background-color: #F2F2F2;
    border-radius: 20px;

}

#accommodation h2 {
    padding-top: 42px;
    padding-left: 40px;
    padding-bottom: 23px;
    font-size: 22px;
    font-weight: 700;

}

.accommodation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;




}

.Card {
    width: 250px;
    height: 240px;
    border-radius: 20px;
    background-color: white;


    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);

}

.Card_img {
    width: 95%;
    height: 160px;
    object-fit: fill;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
}

.Card_txt {
    height: 40px;
    padding-left: 20px;
}

.Card_txt>h3 {
    font-weight: 700;
    line-height: 19px;


}

.card_txt>p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.link_info {
    padding-left: 40px;
}

/*icone étoile bleue*/
i {
    color: var(--primary-color);

}

.stars {
    padding-left: 20px;
}

/*changer la couleur d'une etoile*/
.star {
    color: var(--secondary-color);
}


/* section les + populaire */
.populaire {
    width: 30%;
    height: 660px;
    background-color: var(--third-color);
    border-radius: 20px;
}

.title_populaire {
    width: 345px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    font-size: 22px;
    font-weight: 700;
}

.itemPopulaire_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;


}

.item_populaire {
    margin-bottom: 30px;
    background-color: white;
    width: 345px;
    height: 145px;
    display: flex;
    border-radius: 20px;

    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);


}


.img_item {
    width: 135px;
    height: 135px;
    object-fit: cover;
    border: 5px solid #FFFF;
    border-radius: 20px;
}

.item_txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item_txt>h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

/*sectiion activities*/
#activities {
    margin-bottom: 20px;
    margin-top: 60px;
}

#activities h2 {
    margin-bottom: 18px;
    font-size: 22px;
    font-weight: 700;
}

.card_activities {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 300px;
    height: 445px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    line-height: 0;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));


}

.card_img {
    width: 300px;
    height: 390px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card_title {
    box-sizing: border-box;
    height: 55px;
    font-weight: 700;
    font-size: 16px;
    padding: 20px 0px 20px 20px;
    border: 1px solid #D9D9D9;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*footer*/
footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--third-color);
    padding-bottom: 58px;
    margin-right: 50px;
}

.item_footer {

    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 45px;
    padding-right: 250px;
}

.item_title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 20px;

}

.item_link {
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-decoration: none;
    line-height: 18.78px;
}