/*Responsive smartphone*/
@media screen and (max-width: 768px) {

    .container_principal {
        padding-left: 0px;
        min-width: 365px;
    }

    /* header responsive pour smartphone*/
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        width: 100%;
    }

    header>img {
        width: 60px;
        margin-top: 21px;
        margin-left: 0;
        margin-bottom: 48px;
    }

    .navbar__item {
        padding-bottom: 23px;
        padding-top: 0px;
    }

    .navbar .navbar__item:hover {
        border-top: none;
        border-bottom: 2px solid var(--primary-color);
    }

    /*partie recherche*/
    .search_form {
        margin-top: 20px;
        padding-left: 10px;
    }

    .search_form>h1 {
        line-height: 26px;
    }

    .search_txt {
        visibility: hidden;
        position: absolute;
    }

    .loupe_icon {
        color: white;
        visibility: visible;
        position: static;

    }

    .search_button {
        width: 50px;
    }

    /* responsive smartphone pour la partie filtres*/
    .filter {
        margin-bottom: 5px;
    }

    .filters>h3 {
        width: 100%;
        margin-bottom: 20px;
    }

    /*les + populaire*/
    .container {
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;

    }

    .popular {
        width: 100%;
        max-width: none;
        border-radius: 0px;
    }

    .popular__title {
        width: auto;
        padding-left: 0px;
        justify-content: space-around;
    }

    .popular__title>h2 {
        padding-left: 0px;
    }

    .popular__item {
        width: 95%;
        height: 145px;
        justify-content: flex-start;
    }

    .img__item {
        height: 135px;
        object-fit: cover;

    }

    .stars {
        padding-left: 20px;
    }

    /* partie hebergement */
    #accommodation {
        width: 100%;
        height: 1250px;
        max-width: none;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }

    #accommodation>h2 {
        text-align: left;
        padding-bottom: 20px;
        padding-top: 25px;
    }

    .accommodation {
        flex-direction: column;
        padding-left: 0px;
    }

    .Card {
        width: 100%;
        height: 200px;

    }

    .Card_img {
        object-fit: cover;

    }

    .link_info {
        position: static;
        margin-top: 20px;


    }

    /* section activities responsive pour smartphone*/

    #activities {
        height: 900px;
        margin-top: 100px;
        margin-bottom: 80px;
        margin-left: 20px;
    }

    .activities__cards {
        flex-direction: column;


    }

    .card {
        width: 95%;
        height: 190px;
        margin-bottom: 20px;
    }

    .card>img {
        width: 100%;
        height: 160px;
        object-fit: cover;
    }

    .card__title {
        height: 30px;
        background-color: white;
    }


    /*footer responsive pour smartphone*/
    footer {
        flex-direction: column;
        padding-left: 20px;

    }

    .item_footer {
        width: 50%;
    }
}