/*Responsive smartphone*/
@media screen and (max-width: 768px) {

    /* header responsive pour smartphone*/
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav {
        width: 100%;
    }

    .logo {
        width: 20%;
        margin-top: 21px;
        margin-left: 190px;
        margin-bottom: 0px;

    }

    .item_navbar {
        padding-bottom: 10px;
    }

    .navbar .item_navbar:hover {
        border-top: none;
        border-bottom: 2px solid var(--primary-color);
    }

    /*partie recherche*/
    .search_form {
        margin-top: 20px;
        padding-left: 10px;
    }

    /* responsive smartphone pour la partie filtres*/
    .filters {
        max-width: 100%;
        display: block;

    }

    .filters_contener {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 10px;
        gap: 1;
    }

    .filter {
        margin-bottom: 5px;
    }

    /*les + populaire*/
    .container {
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;

    }

    .populaire {
        width: 100%;
        border-radius: 0px;
    }

    .item_populaire {
        width: 100%;
    }

    .Card {
        width: 50%;
    }

    #accommodation {
        background-color: white;
        display: flex;
        flex-direction: column;


    }

    #accommodation>h2 {
        text-align: left;
        padding-left: 230px;
    }

    .accommodation {
        height: 1250px;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
    }

    /* section activities responsive pour smartphone*/

    #activities {
        height: 900px;
        margin-top: 100px;
        margin-bottom: 80px;
    }

    .card_activities {
        flex-direction: column;
        width: 340px;

    }

    .card {
        width: 335px;
        height: 190px;
        margin-bottom: 20px;
    }

    .card_img {
        width: 335px;
        height: 160px;
    }

    .card_title {
        width: 335px;
        height: 30px;

    }


    /*footer responsive pour smartphone*/
    footer {
        flex-direction: column;

    }

    .item_footer {
        width: 50%;
    }
}