/*responsive tablette pour le body */
@media screen and (min-width: 768px) and (max-width: 992px) {

    /* header responsive pour tablette */
    header>img {
        margin-bottom: 58px;
        margin-left: 72px;
        margin-top: 44px;
    }

    nav {
        min-width: 30%;
    }

    .navbar .navbar__item:hover {
        border-top: none;
    }

    .navbar__link:hover {
        text-decoration: underline;
    }

    /*partie filtre*/


    /*responsive tablette pour la partie hébergement*/
    .container {
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    #accommodation {
        width: 100%;
    }

    .link_info {
        left: 80px;
    }

    .popular {
        width: 100%;
        height: 275px;
    }

    .container_popular-item {
        flex-direction: row;
        gap: 30px;
    }

    .popular__title {
        width: auto;
        padding-left: 0px;
        margin-bottom: 20px;
    }

    .popular__item {
        width: 100%;
    }

    .popular__item-txt>p {
        padding-bottom: 30px;
    }

    .stars {
        padding-left: 15px;
    }

    .stars_paddingTop {
        padding-top: 0px;
    }

    /*responsive pour tablette de la partie activities*/
    #activities h2 {
        padding-left: 50px;
    }

    .activities__cards {
        justify-content: space-around;
    }

    .activities__card {
        width: 180px;
        height: 265px;
    }

    .activities__card>img {
        width: 100%;
        height: 210px;
    }

    .activities__card>h3 {
        width: 180px;
        height: 55px;
        line-height: 19px;
        padding: 10px 0px 0px 10px;
    }

    /*footer responsive pour tablette*/
    footer {
        width: auto;
    }

    .footer__item {
        padding-right: 0%;
    }
}